body {
  width: 100%;
}

header {
  border: 2px solid grey;
  border-top: 5px solid grey;
  border-right: 5px solid grey;
  border-radius: 1em;
  background-color: beige;
  width: 77%;
  margin: 5%;
  padding: 5%;
}

.column-1 {
  border: 2px solid grey;
  border-top: 5px solid grey;
  border-radius: 1em;
  background-color: lightskyblue;
  width: 28%;
  margin: 5%;
  padding: 5%;
  display: inline-block;
  vertical-align: top;
  /* float: left; */
}

.column-2 {
  border: 2px solid grey;
  border-top: 5px solid grey;
  border-radius: 1em;
  background-color: lightskyblue;
  width: 28%;
  margin: 5%;
  padding: 5%;
  display: inline-block;
  vertical-align: top;
  /* float: right; */  
}

footer {
  border: 2px solid grey;
  border-top: 5px solid grey;
  border-radius: 1em;
  background-color: beige;
  width: 77%;
  margin: 5%;
  padding: 5%;
  /* clear: left; */
}